@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css');
*{
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('photos/bkg1.png');
    background-position: center;
}
b{
    margin-left: 1px !important;
    margin-right: 1px !important;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    padding: 20px 20px;
    padding-left: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
}

.logo img {
    width: 300px;
    height: auto; 
    display: block; 
}
.navbut{
    background-color:  #FFF455;
    color: #6225E6;
    text-align: center;
    font-size:30px;
    font-weight: 500;
    padding: 5px;
    cursor: pointer;
    border-radius: 25%;
}
@keyframes wobblelr{
    0%{
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
  
    25%{
      -webkit-transform:translateX(-5px);
      -ms-transform: translateX(-5px);
      -o-transform: translateX(-5px);
      transform: translateX(-5px);
    }
  
    75%{
      -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
      -o-transform: translateX(5px);
      transform: translateX(5px);
    }
    100%{
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
      }
}
.rulesBox{
   position: relative;
   width: 1000px; 
   height: 500px;
   background: #B199EC;
   border-radius: 15px;
   overflow: hidden;
   transform: scale(0);
   transition: transform .5s ease, height .2 ease;
   overflow-y: scroll;
   z-index: 10001;
}

.rulesBox .active-popup{
    transform: scale(1);
}

.rulesBox .active{
    height: 520px;
}

.How-to-play-box h2{
    text-align: center;
    color: #2A2F4F;
    font-size: 3em;
}

.How-to-play-box h3{
    text-align: left;
    color: #2A2F4F;
    font-size: 2em;
}
.rulesBox .icon-close {
    position: absolute;
    right: 8px;
    top: 35px;
    font-size: 3em;
    color: #2A2F4F;
    line-height: 57px;
    cursor: pointer;
    display: flex;
    z-index: 1;
    transition: box-shadow 0.3s ease, right 0.3s ease;
    transform-origin: left;
}

.rulesBox .icon-close :hover{
    transition-property:transform-origin left;
    transform: scaleX(1);
    box-shadow: 0 0 0 5px #9b59b6;
    border-radius: 50%;
    border-color:#9b59b6;
}

.rulesBox::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.rulesBox::-webkit-scrollbar-track {
    border-radius: 15px;
    width: 2px;
}
       
.rulesBox::-webkit-scrollbar-thumb {
    background: #9b59b6;
    border-radius: 15px;
}
        
.rulesBox::-webkit-scrollbar-thumb:hover {
    background: #9b59b6; 
}
.rulesBox::-webkit-scrollbar-horizontal {
    display: none;
}

.rulesBox {
    ol {
        margin:0 0 1.5em;
        padding:0;
        counter-reset:item;
      }
       
      ol>li {
        margin:0;
        padding:0 0 0 2em;
        text-indent:-2em;
        list-style-type:none;
        counter-increment:item;
      }
       
      ol>li:before {
        display:inline-block;
        width:1.5em;
        padding-right:0.5em;
        font-weight:bold;
        text-align:right;
        content:counter(item) ".";
      }
}
.playButton button{
    background-color: #FFF455;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #6225E6;
    border: none;
    font-weight: 500;
    border-radius: 15px;
    padding: 90px 300px; 
    cursor: pointer;
    z-index: 999;
    outline: none;
    font-size: 150px;
    width: 300px;
    height: 90px;
    justify-content: center;
    display: flex;
    align-items: center;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: -10px 7px 0 #0a0e27;
}
.playButton button:active{
    background-color:#F78900;
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
.bigLogo img{
    position: absolute;
    top: 1%;
    left: 23%;
    width: 50vw;
}
.joinBox{
   display: flex;
   flex-direction: column;
   position: absolute;
   width: 30vw; 
   height: 50vh;
   background: #6225E6;
   border-radius: 15px;
   transition: transform .5s ease, height .2 ease;
   z-index: 1000;
   box-shadow: -16px 21px 8px 11px rgba(0,0,0,0.1);
   overflow: hidden;
   transform: scale(0);
   transition: transform .5s ease, height .2 ease;
   justify-content: center;
   align-items: center;
}
.joinBox button{
    background-color: #FFF455;
    color: #0a0e27;
    border-radius: 15%;
    cursor: pointer;
    text-align: center;
    padding: 15px;
    width: 15vw;
    font-weight:500;
    font-size: 30px;
}
.joinBox #create{
    position: absolute;
    top: 50%;
    left: 25%;
}
.joinBox #create:active{
    background-color:#F78900;
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
.joinBox #join{
    position: absolute;
    top: 70%;
    left: 18%;
    width: 20vw;
}
.joinBox #join:active{
    background-color:#F78900;
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
.joinBox h1{
    position: absolute;
    top: 10%;
    text-align: center;
    color: #FFF455;
    font-weight: 500;
    font-size: 60px;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    filter: dropshadow(color=#000, offx=0px, offy=1px);
}
.joinBox .icon-close2{
    position: absolute;
    right: 8px;
    top: 35px;
    font-size: 3em;
    color: #FFF455;
    line-height: 57px;
    cursor: pointer;
    display: flex;
    z-index: 1;
    transition: box-shadow 0.3s ease, right 0.3s ease;
    transform-origin: left;
}
.joinBox .icon-close2 :hover{
    transition-property:transform-origin left;
    transform: scaleX(1);
    box-shadow: 0 0 0 5px rgb(248, 240, 123);
    border-radius: 50%;
    border-color:#FFF455;
}

.userInput {
    position: absolute;
    top: 30%;
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #4B0082;
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.createGame{
    position: absolute;
    overflow: hidden;
    transform: scale(0);
    color: #FFF455;
}
.createGame .connectionCode {
    position: relative;
    background-color: #6225E6;
    border: 2px solid #3c0265;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.createGame .connectionCode p {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
}

.createGame .connectionCode input[type="text"] {
    width: calc(100% - 80px);
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.createGame .connectionCode button {
    background-color: #FFF455;
    color: #0a0e27;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.createGame .connectionCode button:hover {
    background-color: #1e0530;
    color: #FFF455;
}

.icon-close3 {
    position: absolute;
    top: 5px; 
    right: -20px; 
    cursor: pointer;
    font-size: 30px;
    color: #fff455; 
}

.icon-close3 :hover{
    transition-property:transform-origin left;
    transform: scaleX(1);
    box-shadow: 0 0 0 5px rgb(248, 240, 123);
    border-radius: 50%;
    border-color:#FFF455;
}

.joinGame{
    position: absolute;
    overflow: hidden;
    transform: scale(0);
    color: #FFF455;
}

.joinGame .connect{
    position: relative;
    background-color: #6225E6;
    border: 2px solid #3c0265;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.joinGame .connect p {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
}

.joinGame #codeJoin{
    width: calc(100% - 80px);
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}
.joinGame button{
    background-color: #FFF455;
    color: #0a0e27;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.joinGame button:hover{
    background-color: #F78900;
    color: #FFF455;
}
.icon-close4 {
    position: absolute;
    top: 5px; 
    right: -20px; 
    cursor: pointer;
    font-size: 30px;
    color: #fff455; 
}

.icon-close4 :hover{
    transition-property:transform-origin left;
    transform: scaleX(1);
    box-shadow: 0 0 0 5px rgb(248, 240, 123);
    border-radius: 50%;
    border-color:#FFF455;
}
.Creatori{
  position: absolute;
    bottom: 10px;
    right: 10px;
   color:white
}
